<!DOCTYPE html>
{% load static %}

<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="{% static 'mdb5/css/mdb.min.css' %}" />

    <title>Dashboard</title>
    <style>
      .sidebar {
        background-color: #f8f9fa;
        padding: 20px;
        height: 150vh;
        border-right: 1px solid #e0e0e0;
      }

      .main-content {
        padding: 20px;
      }
    </style>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 sidebar">
          <h2 class="d-flex justify-content-between align-items-center">
            Contacts
            <a class="btn btn-secondary btn-lg" id="createContactBtn" style="border-radius: 100px;" data-mdb-ripple-init
              target="_blank" role="button">+</a>
          </h2>
          <br>
          <input type="text" id="contactSearch" class="form-control" placeholder="Search"
            style="border-radius: 30px; text-align: center; height: 40px;" />
          <br>
          <ul class="list-group" id="contactList">
            {% for contact in user_contacts %}
            <li class="list-group-item contact-item" data-contact-name="{{ contact.name }}">{{ contact.name }}</li>
            {% endfor %}
          </ul>
        </div>

        <div class="col-md-9 main-content" id="main-content">
          <div id="content">
            <h2 class="d-flex justify-content-between align-items-center">
              Welcome to contacts App {{ user.phone }}
              <a class="btn btn-danger" href="{% url 'logout' %}" style="border-radius: 100px;" data-mdb-ripple-init
                role="button">Logout</a>
            </h2>

          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script type="text/javascript" src="{% static 'mdb5/js/mdb.umd.min.js' %}"></script>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        var contactItems = document.querySelectorAll('.contact-item')
        var createContactBtn = document.getElementById('createContactBtn')
        var content = document.getElementById('content')

        // Function to load create_contact.html
        function loadCreateContact() {
          var xhr = new XMLHttpRequest()
          xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
              if (xhr.status === 200) {
                // Update the main content area with create_contact.html
                content.innerHTML = xhr.responseText
              } else {
                console.error('Error loading create_contact.html:', xhr.statusText)
              }
            }
          }

          xhr.open('GET', '/create_contact', true)
          xhr.send()
        }
        createContactBtn.addEventListener('click', function () {
          loadCreateContact()
        })

        // Attach click events to contact list items
        contactItems.forEach(function (item) {
          item.addEventListener('click', function () {
            var contactName = this.getAttribute('data-contact-name')
            // Make an AJAX request to fetch contact details for the selected contact
            var xhr = new XMLHttpRequest()
            xhr.onreadystatechange = function () {
              if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                  // Update the contact details in the main content area
                  content.innerHTML = xhr.responseText
                } else {
                  console.error('Error fetching contact details:', xhr.statusText)
                }
              }
            }
            xhr.open('GET', '/get_contact_details?contact_name=' + contactName, true)
            xhr.send()
          })
        })

        contactSearch.addEventListener('input', function () {
          var searchTerm = contactSearch.value.toLowerCase();

          contactItems.forEach(function (item) {
            var contactName = item.getAttribute('data-contact-name').toLowerCase();
            if (contactName.includes(searchTerm)) {
              item.style.display = 'block';
            } else {
              item.style.display = 'none';
            }
          });
        });
      });
    </script>
    </script>
  </body>

</html>